# .github/workflows/ci.yml
name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run linter (flake8)
      run: |
        flake8 .

    - name: Run tests and collect results
      run: |
        pytest tests/ -v --junitxml=junit.xml

    - name: Upload test report
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: junit.xml

    - name: Build Docker image
      run: |
        docker build -t ml-devops-app .

    - name: Save Docker image as artifact
      run: |
        docker save -o ml-devops-app.tar ml-devops-app
      if: success()

    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: ml-devops-app.tar